<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Clade Alerta</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/logo2.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

   <!-- fontawesome -->
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!--bootstrap scripts-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="static/img/logo2.png" alt="" class="img-fluid"></a>
        <!-- <h1><a href="index.html">Disaster</a></h1> -->
     
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">About</a></li>
          <li><a class="nav-link scrollto" href="#about">Disasters</a></li>
          <li><a class="nav-link scrollto" href="#donation">Donate</a></li>
          <li><a class="getstarted scrollto" href="signup">Sign up</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Enviormental Hazards</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Be prepared! Be aware! Be giving!</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#map" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="https://media.giphy.com/media/Lt5qvj9jGMA7JPLOwu/giphy.gif" class="img-fluid animated" alt="">
          
          
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= about us ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          <p>The climate is changing so should we</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box icon-box1" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><img src="static/img/icon/open-book.png" style="width: 70%;"></div>
              <h4 class="title"><a href="">EDUCATE</a></h4>
              <p class="description">We cannot stop natural disasters but we can arm ourselves with knowledge. It should teach precaution techniques, first-aid and more importantly how to keep calm in sich a situation.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box icon-box2" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><img src="static/img/icon/brand-awareness.png" style="width: 70%;"></div>
              <h4 class="title"><a href="">AWARE</a></h4>
              <p class="description">Awareness about natural disasters can save more lives than we think. If people are made aware about do's & dont's in a catastrophic event then they will be able to protect themselves until rescue arrives.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box icon-box3" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><img src="static/img/icon/alert.png" style="width: 70%;"></div>
              <h4 class="title"><a href="">ALERT</a></h4>
              <p class="description">We want people to be alerted before the disaster hits and for that, we will be sending an email and mobile notification to the registered users. Moreover, always have an emergency bag prepared that contains your basic needs and first aid kit.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box icon-box4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><img src="static/img/icon/charity.png" style="width: 70%;"></div>
              <h4 class="title"><a href="">DONATE</a></h4>
              <p class="description">Donating to the victims of the natural disaster is one of the kindest acts a person can do. Donation can be of anything ranging from money to used clothes.</p>
            </div>
          </div>
         
        </div>

      </div>

      <div class="purpose">
        <h1  data-aos="fade-right" >OUR PURPOSE</h1>
        <p  data-aos="fade-up" >
          We want people to be armed with knowledge so that they can help themselves when the time comes.Moreover, we want more people to donate because when the victims recieve those donations, it comes like a blessing to them. The world can become a better place with our joint efforts!</p>
      </div>
    </section><!-- End about us Section -->


    <!-- maps section -->


<section id="map">
  <div class="section-title" data-aos="fade-up">
    <h2>MAPS</h2>
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <td>#</td>
        <td style="font-weight: 700; font-size: 1.2rem;">DISASTER</td>
        <td style="font-weight: 700; font-size: 1.2rem;">LINKS</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>WILDFIRE</td>
        <td><a href="wildfire">LINK 1</a> </td>
      </tr>

      <tr>
        <td>2.</td>
        <td>VOLCANO</td>
      <td> <a href="volcano">LINK 2</a> </td>
      </tr>

      <tr>
        <td>3.</td>
        <td>CYCLONE</td>
        <td><a href="cyclone">LINK 3</a></td> 
      </tr>

      <tr>
        <td>4.</td>
        <td>ICEBERG</td>
       <td> <a href="iceberg">LINK 4</a> </td>
      </tr>
    </tbody>
  </table>
</div>

</section>


     <!-- ======= types of disaster  ======= -->
    <section id="about" class="about">
      
        <div class="section-title" data-aos="fade-up">
          <h2>DISASTERS</h2>
        </div>
    </section> 

    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card card1" style='background-image: url("static/img/disasters/cyclone2.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">CYCLONE</a></h5>
                <p class="card-text">Majority of cyclones in India have their genesis over the Bay of Bengal and usually strike the east coast of India.</p>
                <div class="read-more"><a href="#carasou"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card card2" style='background-image: url("static/img/disasters/lava2.jpeg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="volcano.html">VOLCANO</a></h5>
                <p class="card-text">Volcanoes are usually where tectonic plates meet. The largest volcano on Earth is Mauna Loa in Hawaii.</p>
                <div class="read-more"><a href="#carasou"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card card3" style='background-image: url("static/img/disasters/forest.jpeg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">FOREST FIRE</a></h5>
                <p class="card-text">90% of all wildfires are started by humans. “Crown fires” are spread by wind moving quickly across the tops of trees.</p>
                <div class="read-more"><a href="#carasou"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card card4" style='background-image: url("static/img/disasters/earthquake.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">EARTHQUAKE</a></h5>
                <p class="card-text">Earthquakes usually happen on the edge of tectonic plates. Earthquakes occur when the plates get stuck but keep trying to move!</p>
                <div class="read-more"><a href="#carasou"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>  <!-- End of types of disaster Section-->

 
    <!-- donation setion -->

    
    <section id="donation">
      <div class="section-title" data-aos="fade-up">
        <h2>DONATE</h2>
      </div>
      
     <h2 data-aos="fade-up" class="donate-heading">HELP OUT BY DONATING RESOURCES TO THE ONES WHO ARE SUFFERING FROM NATURAL DISASTERS!</h2>

     <div class="row"  >
      <div class="col-lg-4 col-md-4 my-box " data-aos="fade-right">
       <img class="donate1" src="static/img/donate/donate1.png" alt="">
        <h3>WFP</h3>
        <a href="https://www.wfp.org/support-us/stories/donate?utm_source=google&utm_medium=cpc&utm_campaign=12704016154&utm_content=121337596300&gclid=Cj0KCQiAu62QBhC7ARIsALXijXR2P3EQel2hH3Ry53gpf8ekfTC_G8WO5MJjJLYtDznnuOUleZJyQRQaAs0lEALw_wcB&gclsrc=aw.ds"><button type="button" class="btn btn-danger my-btn">Donate</button></a>
      </div>
      <div class="col-lg-4 my-box col-md-4" data-aos="fade-1up">
        <img class="donate2" src="static/img/donate/donate2.png" alt="">
        <h3>CARE INDIA</h3>
        <a href="https://www.wfp.org/support-us/stories/donate?utm_source=google&utm_medium=cpc&utm_campaign=12704016154&utm_content=121337596300&gclid=Cj0KCQiAu62QBhC7ARIsALXijXR2P3EQel2hH3Ry53gpf8ekfTC_G8WO5MJjJLYtDznnuOUleZJyQRQaAs0lEALw_wcB&gclsrc=aw.ds"><button type="button" class="btn btn-danger my-btn">Donate</button></a>
      </div>
      <div class="col-lg-4 col-md-4 my-box" data-aos="fade-left">
        <img class="donate3" src="static/img/donate/donate3.png" alt="">
        <h3>WORLD VISION</h3>
        <a href="https://donate.worldvision.org/give/disaster-relief"><button type="button" class="btn btn-danger my-btn">Donate</button></a>
      </div>
    </div>

</section>


<!-- carousel -->

<div class="section-title my-title" data-aos="fade-up">
  <h2>GRAB SOME KNOWLEDGE</h2>
</div>


<section id="carasou"  data-aos="fade">
     
  <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="false"  data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/lava2.jpeg'); background-size: cover; ">
        <h2 data-aos="fade-up">VOLCANOS</h2>
        <p data-aos="fade-up" style="color: rgb(248, 151, 25);">A volcano is a rupture in the crust of a planetary-mass object, such as Earth, that allows hot lava, volcanic ash, and gases to escape from a magma chamber below the surface.
          On Earth, volcanoes are most often found where tectonic plates are diverging or converging, and most are found underwater. For example, a mid-ocean ridge, such as the Mid-Atlantic Ridge, has volcanoes caused by divergent tectonic plates whereas the Pacific Ring of Fire has volcanoes caused by convergent tectonic plates. 
          </p>
          <img data-aos="fade-up" src="static/img/disasters/vol.png" style="width: 40%;">
      </div>
      <div class=" carousel-item" data-bs-interval="5000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/lava2.jpeg'); background-size: cover;">
        <h2 data-aos="fade-up">IF YOU ARE UNDER A VOLCANO WARNING:</h2>
     
            <p style="color: rgb(248, 151, 25);">1. Listen for emergency information and alerts.<br>
            2. Follow evacuation or shelter orders. If advised to evacuate, then do so early.<br>
            3. Avoid areas downstream of the eruption.<br>
            4. Protect yourself from falling ash.<br>
            5. Do not drive in heavy ash fall.</p>
            <h3>Click the link to view the map.</h3>
            <button type="button" class="btn btn-dark map-button"><a href="volcano" >Map</a></button>
        
      </div>

      <div class="carousel-item " data-bs-interval="6000" style="background-image: linear-gradient(rgba(20, 46, 150, 0.7),rgba(4,9,30,0.7)),url('static/img/disasters/cyclone2.jpg'); background-size: cover;">
        <h2 data-aos="fade-up">CYCLONES</h2>
        <p data-aos="fade-up" style="color: aqua;">In meteorology, a cyclone is a large scale air mass that rotates around a strong center of low atmospheric pressure, counter-clockwise in the Northern Hemisphere and clockwise in the Southern Hemisphere as viewed from above. Cyclones are characterized by inward-spiraling winds that rotate about a zone of low pressure. The largest low-pressure systems are polar vortices and extratropical cyclones of the largest scale. Warm-core cyclones such as tropical cyclones and subtropical cyclones also lie within the synoptic scale.
          </p>
          <img data-aos="fade-up" src="static/img/disasters/cyc.png" style="width: 20%;">
      </div>
      <div class=" carousel-item" data-bs-interval="5000"  style="background-image: linear-gradient(rgba(20, 46, 150, 0.7),rgba(4,9,30,0.7)),url('static/img/disasters/cyclone2.jpg'); background-size: cover;">
        <h2 data-aos="fade-up">IF YOU ARE UNDER A CYCLONE WARNING:</h2>
     
            <p style="color: aqua;">1. Don’t enter floodwater or wear suitable footwear if you have to.<br>
            2. Stay away from sewerage lines, gutters, drains, or culverts.<br>
            3. Stay away from electric poles or fallen power lines to avoid electrocution.<br>
            4. Eat freshly cooked or dry food. Keep your food covered.<br>
            5. Don’t use toilet or tap water if the water lines or sewage pipes are damaged.</p>
            <h3>Click the link to view the map.</h3>
            <button type="button" class="btn btn-dark map-button"><a href="cyclone" >Map</a></button>
      </div>

      <div class="carousel-item " data-bs-interval="6000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/fores.png'); background-size: cover; ">
        <h2 data-aos="fade-up">WILDFIRES</h2>
        <p data-aos="fade-up" style="color: rgb(6, 189, 33);">A wildfire, forest fire, bushfire, wildland fire or rural fire is an unplanned, unwanted, uncontrolled fire in an area of combustible vegetation starting in rural areas and urban areas. Depending on the type of vegetation present, a wildfire can also be classified more specifically as a forest fire, brush fire, bushfire (in Australia), desert fire, grass fire, hill fire, peat fire, prairie fire, vegetation fire, or veld fire. 
          </p>
          <img data-aos="fade-up" src="static/img/disasters/fores2.png" style="width: 24%;">
      </div>
      <div class=" carousel-item" data-bs-interval="5000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/fores.png'); background-size: cover; ">
        <h2 data-aos="fade-up">IF YOU ARE UNDER A WILDFIRE WARNING:</h2>
     
            <p style="color: rgb(6, 189, 33);">1. Be away from outside walls, close doors without locking it.<br>
            2. Turn on a light in each room to maintain visibility in smoke<br>
            3. Have a flashlight, mobile phones , extra batteries & a battery powered radio close at hand.<br>
            4. Breathe closest to the ground, preferably through moist cloth, to avoid inhaling smoke.<br>
            5. Close windows vents and other large openings.</p>
            <h3>Click the link to view the map.</h3>
            <button type="button" class="btn btn-dark map-button"><a href="wildfire" >Map</a></button>
      </div>

      <div class="carousel-item " data-bs-interval="6000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/earthquake.jpg'); background-size: cover; ">
        <h2 data-aos="fade-up">EARTHQUAKES</h2>
        <p data-aos="fade-up" style="color: rgb(169, 0, 0);">An earthquake is the shaking of the surface of the Earth resulting from a sudden release of energy in the Earth's lithosphere that creates seismic waves. Earthquakes can range in size from those that are so weak that they cannot be felt to those violent enough to propel objects and people into the air, and wreak destruction across entire cities. The seismicity, or seismic activity, of an area is the frequency, type, and size of earthquakes experienced over a particular time period. 
          </p>
          <img data-aos="fade-up" src="static/img/disasters/eartth.png" style="width: 25%;">
      </div>
      <div class=" carousel-item" data-bs-interval="5000" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('static/img/disasters/earthquake.jpg'); background-size: cover; ">
        <h2 data-aos="fade-up">IF YOU ARE UNDER A EARTHQUAKE WARNING:</h2>
     
            <p style="color: rgb(169, 0, 0);">1. Get down on the ground under a table or desk. Keep your emergency preparedness kit nearby.<br>
            2. Drop, cover, and hold on when the earth shakes.<br>
            3. Improve safety after earthquakes by evacuating if necessary, and preventing further damage.<br>
            4. Never stand under objects that can fall on top of you like a large bookcase.<br>
            5. If you’re at school, work, or any shopping area don’t take the elevator. Take the stairs.</p>
            <h3>Click the link to view the map.</h3>
            <button type="button" class="btn btn-dark map-button"><a href="iceberg" >Map</a></button>
      </div>

   </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>


  </div>

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Disaster</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by Ciphers</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#header" class="scrollto">Home</a>
            <a href="#services" class="scrollto">About</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>